er* {
  padding: 1;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(-90deg, #0D2501, #0D2501);
}


.header-image {
  position: relative;
    width: 100%;
    max-width: 600px;
  transform: translate(-50%, 3%);
  top: 0%;    
  left: 50%;
  padding: 2em;
   margin-bottom: 20px;
}
.wrapper {
  width: 100%;
  max-width: 34.37em;
  max-height: 90vh;
  overflow: hidden;
  background-color: #54060E;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1em;
  font-size: 14px;
}

#wheel {
  max-height: inherit;
  width: inherit;
  top: 10;
  padding: 0;
  overflow: hidden;
  left: 50%;

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#spin-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: radial-gradient(#21203C 50%, #4262BC 85%);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-weight: 600;
}
img {
  position: absolute;
  width: 4em;
  top: 50%;
  right: -20%;
}
#final-value {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  color: #FFFFFF;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 12px;
  }
   .container {
    font-size: 10px; /* ขนาดตัวอักษรสำหรับหน้าจอเล็ก */
  }
}
@media screen and (max-width: 480px) {
  .container {
    font-size: 8px; /* ขนาดตัวอักษรสำหรับหน้าจอที่เล็กที่สุด */
  }
}
@media screen and (max-width: 300px) {
  .container {
    font-size: 6px; /* ขนาดตัวอักษรสำหรับหน้าจอที่เล็กที่สุด */
  }
}
