*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	background-color: #0D2501;
	display:flex;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
}
/* Header styling */
.header {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding-top: 20px; /* Space for header */
}

.header-image {
  width: 100%;
  height: auto;
}
.container{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:14px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:135px;
}
.container div span {
  display: inline-block;
  transform: rotate(90deg); /* Rotate only the text */
  transform-origin: center; /* Set the rotation pivot to the center of the text */
  white-space: nowrap; /* Prevent text wrapping */
  text-align: center; /* Ensure proper text alignment */
}
.container .one {
      background-color: #58694E;
      left: 50%;
    }
    .container .two {
      background-color: #0D2501;
      transform: rotate(36deg);
    }
    .container .three {
      background-color: #58694E;
      transform: rotate(72deg);
    }
    .container .four {
      background-color: #0D2501;
      transform: rotate(108deg);
    }
    .container .five {
      background-color: #58694E;
      transform: rotate(144deg);
    }
    .container .six {
      background-color: #0D2501;
      transform: rotate(180deg);
    }
    .container .seven {
      background-color: #58694E;
      transform: rotate(216deg);
    }
    .container .eight {
      background-color: #0D2501;
      transform: rotate(252deg);
    }
    .container .nine {
      background-color: #58694E;
      transform: rotate(288deg);
    }
    .container .ten {
      background-color: #0D2501;
      transform: rotate(324deg);
    }

.arrow{
	position: absolute;
	top:100px;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}
